@page "/buy-tickets"

@attribute [Authorize]

@using WebRifa.Blazor.BlazorServices
@using WebRifa.Blazor.Core.Dtos
@using WebRifa.Blazor.Core.Requests.Commands

@inject IBuyerBlazorService _buyerService
@inject IRaffleBlazorService _raffleService
@inject NavigationManager _navigationManager
@inject IJSRuntime JS

@rendermode InteractiveServer

<div class="container">
    @if (IsLoading()) {
        <p>Carregando...</p>
    } else if (!Raffles?.Any() ?? new()){
        <p>Não há Rifas Cadastradas.</p>
    }
    else {
        <div class="raffle-body">
            <div class="raffle-buyer-fields">
                <EditForm Model="buyCommand" OnValidSubmit="ConfirmBuyAsync">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>

                    <div class="raffle-input">
                        <h1>Dados</h1>

                        <input 
                            placeholder="Rifa" 
                            id="raffleInput" 
                            list="raffles" 
                            @onchange="RaffleInputOnChange" />

                        <dataList id="raffles">
                            @foreach (var raffle in Raffles ?? new()) {
                                <option value="@raffle.Id">@raffle.Description</option>
                            }
                        </dataList>

                        @if (SelectedRaffle is not null) {
                            <span>
                                <strong>@("Descrição: ")</strong>
                                @($"{SelectedRaffle.Description}")
                            </span>
                            <span>
                                <strong>@("Preço do Bilhete: ")</strong>
                                @($"{SelectedRaffle.TicketPrice}")
                            </span>
                        }
                    </div>                    

                    <br />

                    @if (SelectedRaffle is not null) {
                        <div class="buyer-input">

                            <input 
                                placeholder="Comprador" 
                                id="buyerInput" 
                                list="buyers" 
                                @onchange="BuyerInputOnChenge" />

                            <dataList id="buyers">
                                @foreach (var buyer in Buyers ?? new()) {
                                    <option value="@buyer.Id">@buyer.Name</option>
                                }
                            </dataList>

                            @if (SelectedBuyer is not null) {
                                <span>
                                    <strong>@("Nome: ")</strong>
                                    @($"{SelectedBuyer.Name}")
                                </span>
                                <span>
                                    <strong>@("Telefone: ")</strong>
                                    @($"{SelectedBuyer.PhoneNumber}")

                                </span>
                            }
                        </div>
                    }

                    <br/>
                    <div class="info-container">
                        @if (buyCommand.NumbersToBuy.Any()) {
                            <p>Números selecionados</p>
                            <p>@string.Join(", ", buyCommand.NumbersToBuy)</p>

                            @if (SelectedBuyer is not null) {
                                <button>Finalizar Compra</button>
                            }
                        }
                    </div>
                </EditForm>
            </div>

            <div class="raffle-numbers">
                @if (Numbers.Any()) {
                    <h1>Lista de Posições na Rifa</h1>
                    <ul>
                        @foreach (var number in Numbers) {
                            <li class="@GetNumberClass(number)" @onclick="(() => AddOrRemoveNumber(number))">@number</li>
                        }
                    </ul>
                }
            </div>
        </div>
    }
</div>