@page "/carryoutdraw"

@using WebRifa.Blazor.BlazorServices
@using WebRifa.Blazor.Core.Dtos

@attribute [Authorize]
@rendermode InteractiveServer

@inject IRaffleBlazorService raffleService
@inject IDrawBlazorServices drawService
@inject IJSRuntime JS

<PageTitle>Realizar Sorteio</PageTitle>

<h3>Realizar Sorteio</h3>

@if (Raffles is null) {
    <Loading />
}
else {
    <div class="container">
        <div class="draw-fields">

            <DropDownSelect Placeholder="Rifa..."
                    PropertyName="@(nameof(RaffleDto.Description))"
                    Items="Raffles"
                    Callback="ReceiveSelectedRaffle"/>

            @if (SelectedRaffle is not null) {
                <span>
                    <strong>@("Descrição: ")</strong>
                    @($"{SelectedRaffle.Description}")
                </span>
                <span>
                    <strong>@("Preço do Bilhete: ")</strong>
                    @($"{SelectedRaffle.TicketPrice}")
                </span>
            }

            @if (ShowCarryOutButton()) {
                <button class="btn btn-primary" @onclick="CarryOutTheDraw">
                    Realizar Sorteio
                </button>
            }

            @if (CarriengOut) {
                <Loading/>
            }

            @if (DrawnNumber.HasValue) {
                <span>
                    <strong>Número Sorteado: </strong> @DrawnNumber
                </span>
            }
        </div>
    </div>
}
