@page "/draws"
@page "/draws/{CurrentPage:int}"

@using WebRifa.Blazor.BlazorServices

@attribute [Authorize]
@rendermode InteractiveServer

@inject IDrawBlazorServices drawService

<PageTitle>Sorteios</PageTitle>

<h3>Sorteios</h3>

<button class="btn btn-primary" @onclick="TogglePopUp">
    Realizar Sorteio
</button>

@if (Draws is null) {
    <Loading/>
}
else if (!Draws.Items.Any()) {
    <p>Não há Sorteios Realizados.</p>
}
else {
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição da Rifa</th>
                <th>Comprador</th>
                <th>Número Vencedor</th>
                <th>Realizado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var draw in Draws.Items) {
                <tr>
                    <td>@draw.Id</td>
                    <td>@draw.RaffleDescription</td>
                    <td>@draw.DrawnTicketBuyerName</td>
                    <td>@GetNumberAsString(draw)</td>
                    <td>@draw.RaffledAt.ToString()</td>
                </tr>
            }
        </tbody>
    </table>

    <PagePagination CurrentPage="CurrentPage"
            TotalPages="Draws.TotalPages"
            NavigationLink="./draws"/>
}

<PopUp Label="Sorteio" 
        IsVisibleChanged="LoadDraws" 
        @ref="PopUp" 
        Size="PopUpSize.Medium">
    <CarryOutDraw/>
</PopUp>