@page "/raffles"
@page "/raffles/{CurrentPage:int}"

@attribute [StreamRendering]
@attribute [Authorize]

@using WebRifa.Blazor.BlazorServices
@using WebRifa.Blazor.Core.Dtos

@inject IRaffleBlazorService _raffleService

<PageTitle>Rifas</PageTitle>

<h3>Rifas</h3>

<div>
    <a class="btn btn-primary" href="./raffle">Novo Cadastro</a>
</div>

@if (Raffles is null) {
    <Loading/>
}
else if (!Raffles!.Items.Any()) {
    <p>Não há Rifas Cadastradas.</p>
}
else {
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Preço do Bilhete</th>
                <th>Total de Bilhetes</th>
                <th>Data para Sorteio</th>
                <th>Situação do Sorteio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var raffle in Raffles.Items) {
                <tr>
                    <td>@raffle.Description</td>
                    <td>@raffle.TicketPrice</td>
                    <td>@raffle.TotalNumberOfTickets</td>
                    <td>@raffle.DrawDateTime.ToShortDateString()</td>
                    <td>@raffle.CurrentState</td>
                    <td class="text-end">
                        <a class="btn btn-info" href="@GetEditLink(raffle)">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <Pagination CurrentPage="CurrentPage" 
            TotalPages="Raffles.TotalPages"
            NavigationLink="./raffles"/>
}


