@page "/receipts"
@page "/receipts/{CurrentPage:int}"

@using WebRifa.Blazor.BlazorServices

@attribute [Authorize]
@rendermode InteractiveServer

@inject IReceiptBlazorService receiptService
@inject IJSRuntime JS

<h3>Recibos</h3>

@if (Receipts is null) {
    <Loading/>
}
else if (!Receipts!.Items.Any()) {
    <p>Não há Recibos Cadastradas.</p>
}
else {
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição da Rifa</th>
                <th>Comprador</th>
                <th>Números Selecionados</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receipt in Receipts.Items) {
                <tr>
                    <td>@receipt.Id</td>
                    <td>@receipt.RaffleDescription</td>
                    <td>@receipt.BuyerName</td>
                    <td>@GetNumbersAsString(receipt)</td>
                    <td>
                        <button
                            class="btn btn-info"
                            @onclick=@(() => ShowReceiptDetails(receipt.Id) )>
                            
                            Detalhes
                        </button>
                        
                        <button 
                            class="btn btn-danger" 
                            @onclick="(() => DeleteReceiptAsync(receipt.Id))">
                            
                            Excluir Recibo
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <Pagination CurrentPage="CurrentPage"
            TotalPages="Receipts.TotalPages"
            NavigationLink="./receipts"/>

    <PopUp Label="Recibo" Size="PopUpSize.Small" @ref=PopUp>
        <ReceiptDetail Id="@SelectedReceiptId"/>
    </PopUp> 
}