@page "/receipts"

@using WebRifa.Blazor.BlazorServices
@using WebRifa.Blazor.Components.Common.PopUp

@attribute [Authorize]
@rendermode InteractiveServer

@inject IReceiptBlazorService receiptService
@inject IJSRuntime JS

<h3>Recibos</h3>

@if (Receipts is null) {
    <p>Carregando...</p>
}
else if (!Receipts!.Any()) {
    <p>Não há Recibos Cadastradas.</p>
}
else {
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição da Rifa</th>
                <th>Comprador</th>
                <th>Números Selecionados</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receipt in Receipts) {
                <tr>
                    <td>@receipt.Id</td>
                    <td>@receipt.RaffleDescription</td>
                    <td>@receipt.BuyerName</td>
                    <td>@GetNumbersAsString(receipt)</td>
                    <td>
                        <button
                            class="btn btn-info"
                            @onclick=@(() => PopUp.ToggleVisibilityAsync())>
                            
                            Detalhes
                        </button>
                        
                        <button 
                            class="btn btn-danger" 
                            @onclick="(() => DeleteReceiptAsync(receipt.Id))">
                            
                            Excluir Recibo
                        </button>
                    </td>
                </tr>

                <PopUp Label="Recibo" Size="PopUpSize.Small" @ref=PopUp>
                    <ReceiptDetail Id="@receipt.Id.ToString()"/>
                </PopUp> 
            }
        </tbody>
    </table>
}